.boutons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.affichageResultat {
    text-align: center;
    font-size: 30px;
    height: 35px;
    margin-bottom: 20px;
}

.resultatsJeu {
    display: flex;
    justify-content: center;

    .scores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
    }

}
